body {
     background: linear-gradient(to right, #8711c1, #2472fc);
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
               -webkit-appearance: none;
               
        }
        box-sizing: border-box;
}
header {
     color: whitesmoke;
     text-align: center;
     text-shadow: 2px 5px 5px rgba(0,0,0,0.5);
     margin: 25px;
     margin-top: 112px;
        
}
section {
     color: black;
     font-family:'Times New Roman', Times, serif;
     font-size: 22px;
     font-weight: light;
     text-align: center;
     background: radial-gradient(circle,#ffffff,rgb(205, 216, 255));
     border-radius: 15px;
     border-width: 1px;
     border-style: ridge;
     border-color: rgba(0,0,0,0.5);
     padding: 15px;
     width: 450px;
     height: 450px;
     max-height: 1500px;
     max-width: 1000px;
     margin: auto;
     box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
     text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}
footer {
     color: whitesmoke;
     text-align: center;
     text-shadow: 2px 5px 5px rgba(0,0,0,0.5);
     font-size: 17px;
     margin: 25px;
     cursor: pointer;

} footer a {
     text-decoration: none;
     color: white;
}

img {
     height: 360px;
     width: 360px;
     margin-top: -20px;
     border-radius: 500px;
     border: solid 10px;
     border-color: rgba(0,0,0,0.8);
     box-sizing: border-box;
     filter: contrast(119%);
     justify-content: center;
}
footer:hover, #botaozin:hover {
     color: rgb(125, 184, 255);
     font-size: 20px;
     box-sizing: border-box;
}
footer a:active{
     color: rgb(101, 148, 32);
     font-size: 24px;
}
#botaozin {
     margin: 10px 40px;
     margin-bottom: 25px;
     font-size: 20px;
     box-sizing: border-box;
     border-radius: 10px;
     padding: 4px;
     border-width: 2px;
     cursor: pointer;
     box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
     
}
#botaozin:active {
     color: tomato;
}
#numero {
     width: 60px;
     height: 22px;
     margin-left: 12px;
     border-radius: 12px;
     padding: 4px;
     cursor: pointer;
     text-align: center;
     font-size: large;
     box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
     
}

#selecttabuada {
     font-size: 18px;
     text-align: left;
     color: #393830;
     background: linear-gradient(to right, #f7ba2c, #ea5459);
     border-radius: 11px;
     border-width: 10px;
     border-color: rgb(0, 0, 0);
     border: 5px solid;
     padding: 10px;
     width: 150px;
     margin: auto;
     box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
     box-sizing: border-box;
     max-width: 700px;
     max-height: 1100px;
     
}